[submodule "SerialPortNET"]
	path = SerialPortNET
	url = https://github.com/alialavia/SerialPortNET
[submodule "CSharpLibrary/SerialPortNET"]
	path = CSharpLibrary/SerialPortNET
	url = https://github.com/alialavia/SerialPortNET
